./*/logs/
./*/cmakeOutput.txt
./*/buildOutput.txt
linear-layer-search-space/out/*/*
linear-layer-search-space/golden-out/*/*
linear-layer-search-space/tiling-schemes/*
linear-layer-search-space/golden-tiling-schemes/*
